In [1]:
import os
import pandas as pd 

PATH = '../../data/dogfacenet/aligned/'
df = pd.read_csv(PATH+'labels/via_region_data(5).csv')
df.head()

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,272100.272100.jpg,28889,{},3,0,"{""name"":""point"",""cx"":122,""cy"":175}",{}
1,272100.272100.jpg,28889,{},3,1,"{""name"":""point"",""cx"":230,""cy"":185}",{}
2,272100.272100.jpg,28889,{},3,2,"{""name"":""point"",""cx"":149,""cy"":319}",{}
3,272100.272100_0.jpg,30813,{},3,0,"{""name"":""point"",""cx"":196,""cy"":161}",{}
4,272100.272100_0.jpg,30813,{},3,1,"{""name"":""point"",""cx"":287,""cy"":175}",{}

In [2]:
df2 = df[df.region_count == 3]

In [3]:
len(df2)/3

1017.0

In [4]:
df3 = df2[['filename','region_shape_attributes']]

In [5]:
df3.head()

              filename             region_shape_attributes
0    272100.272100.jpg  {"name":"point","cx":122,"cy":175}
1    272100.272100.jpg  {"name":"point","cx":230,"cy":185}
2    272100.272100.jpg  {"name":"point","cx":149,"cy":319}
3  272100.272100_0.jpg  {"name":"point","cx":196,"cy":161}
4  272100.272100_0.jpg  {"name":"point","cx":287,"cy":175}

In [6]:
from ast import literal_eval
df3['region_shape_attributes'] = df3['region_shape_attributes'].apply(literal_eval)

c:\users\guillaume\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
df3.head()

              filename                  region_shape_attributes
0    272100.272100.jpg  {'name': 'point', 'cx': 122, 'cy': 175}
1    272100.272100.jpg  {'name': 'point', 'cx': 230, 'cy': 185}
2    272100.272100.jpg  {'name': 'point', 'cx': 149, 'cy': 319}
3  272100.272100_0.jpg  {'name': 'point', 'cx': 196, 'cy': 161}
4  272100.272100_0.jpg  {'name': 'point', 'cx': 287, 'cy': 175}

In [8]:
df3['id'] = [i for i in range(len(df3))]

c:\users\guillaume\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df3 = df3.set_index('id')

In [10]:
dic = df3['region_shape_attributes'][0]
dic

{'cx': 122, 'cy': 175, 'name': 'point'}

In [11]:
dic['cx']

122

In [12]:
df4 = pd.DataFrame(index=[i for i in range(len(df3)//3)],columns=['filename','lex','ley','rex','rey','nox','noy'])

In [13]:
df4['filename']=[df3['filename'][i] for i in range(0,len(df3),3)]
df4['lex'] = [df3['region_shape_attributes'][i]['cx'] for i in range(0,len(df3),3)]
df4['ley'] = [df3['region_shape_attributes'][i]['cy'] for i in range(0,len(df3),3)]
df4['rex'] = [df3['region_shape_attributes'][i]['cx'] for i in range(1,len(df3),3)]
df4['rey'] = [df3['region_shape_attributes'][i]['cy'] for i in range(1,len(df3),3)]
df4['nox'] = [df3['region_shape_attributes'][i]['cx'] for i in range(2,len(df3),3)]
df4['noy'] = [df3['region_shape_attributes'][i]['cy'] for i in range(2,len(df3),3)]

In [14]:
df3

,filename,region_shape_attributes
id,,
0,272100.272100.jpg,"{'name': 'point', 'cx': 122, 'cy': 175}"
1,272100.272100.jpg,"{'name': 'point', 'cx': 230, 'cy': 185}"
2,272100.272100.jpg,"{'name': 'point', 'cx': 149, 'cy': 319}"
3,272100.272100_0.jpg,"{'name': 'point', 'cx': 196, 'cy': 161}"
4,272100.272100_0.jpg,"{'name': 'point', 'cx': 287, 'cy': 175}"
5,272100.272100_0.jpg,"{'name': 'point', 'cx': 172, 'cy': 296}"
6,272100.272100_1.jpg,"{'name': 'point', 'cx': 404, 'cy': 125}"
7,272100.272100_1.jpg,"{'name': 'point', 'cx': 447, 'cy': 116}"
8,272100.272100_1.jpg,"{'name': 'point', 'cx': 441, 'cy': 177}"
9,272100.272100_2.jpg,"{'name': 'point', 'cx': 100, 'cy': 95}"
10,272100.272100_2.jpg,"{'name': 'point', 'cx': 155, 'cy': 103}"
11,272100.272100_2.jpg,"{'name': 'point', 'cx': 113, 'cy': 168}"
12,272100.272100_4.jpg,"{'name': 'point', 'cx': 158, 'cy': 75}"
13,272100.272100_4.jpg,"{'name': 'point', 'cx': 215, 'cy': 79}"
14,272100.272100_4.jpg,"{'name': 'point', 'cx': 177, 'cy': 139}"
15,272100.272100_5.jpg,"{'name': 'point', 'cx': 137, 'cy': 77}"
16,272100.272100_5.jpg,"{'name': 'point', 'cx': 186, 'cy': 80}"
17,272100.272100_5.jpg,"{'name': 'point', 'cx': 155, 'cy': 138}"
18,272774.272774.jpg,"{'name': 'point', 'cx': 167, 'cy': 97}"
19,272774.272774.jpg,"{'name': 'point', 'cx': 244, 'cy': 94}"
20,272774.272774.jpg,"{'name': 'point', 'cx': 187, 'cy': 157}"
21,272774.272774_0.jpeg,"{'name': 'point', 'cx': 233, 'cy': 81}"
22,272774.272774_0.jpeg,"{'name': 'point', 'cx': 269, 'cy': 81}"
23,272774.272774_0.jpeg,"{'name': 'point', 'cx': 240, 'cy': 128}"
24,272774.272774_0.jpg,"{'name': 'point', 'cx': 263, 'cy': 145}"
25,272774.272774_0.jpg,"{'name': 'point', 'cx': 323, 'cy': 141}"
26,272774.272774_0.jpg,"{'name': 'point', 'cx': 337, 'cy': 208}"
27,272774.272774_1.jpg,"{'name': 'point', 'cx': 173, 'cy': 60}"
28,272774.272774_1.jpg,"{'name': 'point', 'cx': 207, 'cy': 61}"
29,272774.272774_1.jpg,"{'name': 'point', 'cx': 177, 'cy': 87}"
...,...,...
3021,dog13.DSC01813.JPG,"{'name': 'point', 'cx': 273, 'cy': 364}"
3022,dog13.DSC01813.JPG,"{'name': 'point', 'cx': 546, 'cy': 364}"
3023,dog13.DSC01813.JPG,"{'name': 'point', 'cx': 351, 'cy': 747}"
3024,dog13.DSC01853.JPG,"{'name': 'point', 'cx': 2491, 'cy': 1607}"
3025,dog13.DSC01853.JPG,"{'name': 'point', 'cx': 2711, 'cy': 1616}"
3026,dog13.DSC01853.JPG,"{'name': 'point', 'cx': 2538, 'cy': 1844}"
3027,dog13.DSC01862.JPG,"{'name': 'point', 'cx': 1521, 'cy': 1530}"
3028,dog13.DSC01862.JPG,"{'name': 'point', 'cx': 2422, 'cy': 1448}"
3029,dog13.DSC01862.JPG,"{'name': 'point', 'cx': 2004, 'cy': 2568}"
3030,dog13.IMG_0817.JPG,"{'name': 'point', 'cx': 179, 'cy': 181}"
3031,dog13.IMG_0817.JPG,"{'name': 'point', 'cx': 374, 'cy': 207}"
3032,dog13.IMG_0817.JPG,"{'name': 'point', 'cx': 123, 'cy': 276}"
3033,dog13.IMG_3779.JPG,"{'name': 'point', 'cx': 1046, 'cy': 1009}"
3034,dog13.IMG_3779.JPG,"{'name': 'point', 'cx': 1753, 'cy': 915}"
3035,dog13.IMG_3779.JPG,"{'name': 'point', 'cx': 1364, 'cy': 1847}"
3036,dog13.IMG_3832 - Copie (2).JPG,"{'name': 'point', 'cx': 218, 'cy': 272}"
3037,dog13.IMG_3832 - Copie (2).JPG,"{'name': 'point', 'cx': 435, 'cy': 258}"
3038,dog13.IMG_3832 - Copie (2).JPG,"{'name': 'point', 'cx': 221, 'cy': 517}"
3039,dog13.IMG_4102.JPG,"{'name': 'point', 'cx': 2048, 'cy': 674}"
3040,dog13.IMG_4102.JPG,"{'name': 'point', 'cx': 2819, 'cy': 737}"
3041,dog13.IMG_4102.JPG,"{'name': 'point', 'cx': 3244, 'cy': 1592}"
3042,dog13.IMG_4111.JPG,"{'name': 'point', 'cx': 2118, 'cy': 784}"
3043,dog13.IMG_4111.JPG,"{'name': 'point', 'cx': 2802, 'cy': 818}"
3044,dog13.IMG_4111.JPG,"{'name': 'point', 'cx': 2329, 'cy': 1639}"
3045,dog13.OGXV7011.JPG,"{'name': 'point', 'cx': 1452, 'cy': 509}"
3046,dog13.OGXV7011.JPG,"{'name': 'point', 'cx': 1698, 'cy': 534}"
3047,dog13.OGXV7011.JPG,"{'name': 'point', 'cx': 1587, 'cy': 841}"
3048,dog13.SAXB1350.JPG,"{'name': 'point', 'cx': 625, 'cy': 102}"
3049,dog13.SAXB1350.JPG,"{'name': 'point', 'cx': 698, 'cy': 101}"
3050,dog13.SAXB1350.JPG,"{'name': 'point', 'cx': 658, 'cy': 174}"

In [15]:
df4

,filename,lex,ley,rex,rey,nox,noy
0,272100.272100.jpg,122,175,230,185,149,319
1,272100.272100_0.jpg,196,161,287,175,172,296
2,272100.272100_1.jpg,404,125,447,116,441,177
3,272100.272100_2.jpg,100,95,155,103,113,168
4,272100.272100_4.jpg,158,75,215,79,177,139
5,272100.272100_5.jpg,137,77,186,80,155,138
6,272774.272774.jpg,167,97,244,94,187,157
7,272774.272774_0.jpeg,233,81,269,81,240,128
8,272774.272774_0.jpg,263,145,323,141,337,208
9,272774.272774_1.jpg,173,60,207,61,177,87
10,272774.272774_2.jpg,263,113,351,111,302,192
11,272774.272774_3.jpg,267,173,301,166,295,194
12,272986.272986.jpeg,237,149,303,153,293,209
13,272986.272986.jpg,261,119,317,114,297,166
14,272986.272986_0.jpg,270,147,321,148,307,209
15,272986.272986_1.jpg,252,157,315,157,257,239
16,272986.272986_2.jpg,239,117,295,123,252,185
17,272986.272986_5.jpg,337,131,363,129,353,160
18,272986.272986_6.jpg,231,138,275,135,248,195
19,274575.274575.jpeg,256,123,335,99,319,165
20,274575.274575.jpg,201,123,287,107,256,155
21,274575.274575_0.jpeg,362,93,397,92,388,122
22,274575.274575_0.jpg,178,116,261,119,199,179
23,274575.274575_1.jpg,225,64,273,59,250,87
24,274575.274575_2.jpg,213,142,267,151,217,193
25,274575.274575_3.jpg,151,79,185,83,155,108
26,274575.274575_4.jpg,274,116,311,120,293,138
27,276562.276562_0.jpg,234,33,273,41,243,53
28,276562.276562_2.jpg,268,93,349,108,293,173
29,276562.276562_3.jpg,220,125,292,137,243,181
...,...,...,...,...,...,...,...
987,dog12.2013-07-04 14.40.34.jpg,694,696,948,730,786,1071
988,dog12.2013-07-04 14.40.49.jpg,712,936,1243,884,976,1760
989,dog12.Hunde 045.jpg,339,535,488,529,400,749
990,dog12.Hunde 053.jpg,547,706,799,708,682,1089
991,dog12.IMG_0882.JPG,569,685,786,726,478,1021
992,dog12.IMG_0884.JPG,694,687,948,715,791,1060
993,dog12.IMG_0885.JPG,698,930,1255,879,999,1775
994,dog12.IMG_0893.JPG,459,565,793,610,437,1258
995,dog12.IMG_1378.JPG,1314,571,1609,582,1418,1002
996,dog12.Kopie (2) von Spanien 0505 025.jpg,882,676,1001,676,936,817
997,dog12.Spanien 0505 037.jpg,1139,519,1353,524,1243,865
998,dog12.Spanien 0505 038.jpg,935,536,1372,485,1117,1081
999,dog13.ae8a6789-f4a6-4d9a-b281-6376b5b4fc0f.jpg,168,275,400,290,246,535
1000,dog13.DSC_0837.JPG,3233,1885,3933,1831,3574,2869
1001,dog13.DSC01572 - Copie.JPG,206,276,371,260,285,497
1002,dog13.DSC01664.JPG,1814,1237,2280,1228,2112,1758
1003,dog13.DSC01666.JPG,3228,2198,3603,2275,3357,2741
1004,dog13.DSC01672.JPG,2784,1082,3077,1086,2887,1370
1005,dog13.DSC01713.JPG,1931,1513,2891,1659,2478,2896
1006,dog13.DSC01782.JPG,499,283,790,350,523,613
1007,dog13.DSC01813.JPG,273,364,546,364,351,747
1008,dog13.DSC01853.JPG,2491,1607,2711,1616,2538,1844
1009,dog13.DSC01862.JPG,1521,1530,2422,1448,2004,2568
1010,dog13.IMG_0817.JPG,179,181,374,207,123,276
1011,dog13.IMG_3779.JPG,1046,1009,1753,915,1364,1847
1012,dog13.IMG_3832 - Copie (2).JPG,218,272,435,258,221,517
1013,dog13.IMG_4102.JPG,2048,674,2819,737,3244,1592
1014,dog13.IMG_4111.JPG,2118,784,2802,818,2329,1639
1015,dog13.OGXV7011.JPG,1452,509,1698,534,1587,841
1016,dog13.SAXB1350.JPG,625,102,698,101,658,174

In [16]:
df4.to_csv(PATH+'labels/reformated.csv')